<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home"> <p class="company"><img src="../../images/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    {{companyName}}</p> </a>
           <p hidden id="hidden">{{csrftoken}}</p>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span data-feather="menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav  ">
          <li class="nav-item menus">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Rezervimet <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline mt-2 mt-md-0" action="/home/search"  method="get">
                            <input type="hidden"  name="_csrf" value="{{ csrftoken }}" />
                            <input type="text" size="25" name="search" class="form-control mr-sm-2" type="search" placeholder="Kërko sipas emrit ose mbiemrit" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                    <li class="nav-item menus">
                         <button type="button"  id="li" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i data-feather="user"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="/home/profile/{{user_id}}" class="dropdownlinks"><button class="dropdown-item" type="button">Profili im</button></a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/logout" class="dropdownlinks"><button class="dropdown-item" type="button">Sign out</button></a>
                                </div>
                    </li>
          </ul>
    </div>
    <div class="buttonnone">

        <div class="btn-group profile_button">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="user"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="/home/profile/{{user_id}}" class="dropdownlinks"><button class="dropdown-item" type="button">Profili im</button></a>
                <div class="dropdown-divider"></div>
                <a href="/logout" class="dropdownlinks"><button class="dropdown-item" type="button">Sign out</button></a>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i data-feather="home"></i>
                            Rezervimet <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <div id="hidden_loading">
                  <div class="sk-fading-circle">
                      <div class="sk-circle1 sk-circle"></div>
                      <div class="sk-circle2 sk-circle"></div>
                      <div class="sk-circle3 sk-circle"></div>
                      <div class="sk-circle4 sk-circle"></div>
                      <div class="sk-circle5 sk-circle"></div>
                      <div class="sk-circle6 sk-circle"></div>
                      <div class="sk-circle7 sk-circle"></div>
                      <div class="sk-circle8 sk-circle"></div>
                      <div class="sk-circle9 sk-circle"></div>
                      <div class="sk-circle10 sk-circle"></div>
                      <div class="sk-circle11 sk-circle"></div>
                      <div class="sk-circle12 sk-circle"></div>
                  </div>
              </div>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {{>flash}}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                <h3>Rezervimet</h3>
                <form class="form-inline mt-2 mt-md-0" action="/home/search/date"  method="get">
                    <input type="hidden"  name="_csrf" value="{{ csrftoken }}" />
                    <input  type="search" size="25" name="search" class="form-control mr-sm-2 datetimepicker1" placeholder="Kërko sipas datës(dit/muaj/vit)" aria-label="Search" autocomplete="off" data-date-format="dd/mm/yyyy">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="dropdown-divider"></div>
                  <div class="row">
                     <div class="col">
                         <div class="card-body calendar_card animated fadeInLeft"  id="hidden">
                           <div id="calendar" ></div>
                         </div>
                       </div>
                       <div class="col-md-3">

                        <div class="todaysInfo animated fadeInRight" id="hidden">
                              <ul class="list-group list-group-flush ">
                                <div class="alert alert-primary todaysDate" role="alert">
                                  <h6 class="alert-heading">Sot ({{todaysDate}})</h6>
                                </div>
                                {{#each todos}}
                                  <a href="/pacientet/{{id}}" class="list-group-item list-group-item-action secondaryc alert-light  ">
                                    {{startTime}}-{{endTime}}  {{name}} {{surname}}
                                  </a>
                                  {{else}}
                                  <span class="list-group-item list-group-item-action secondaryc alert-light">Sot nuk keni asnje rezervim</span>
                                {{/each}}
                              </ul>
                          </div>
                     </div>
                   </div>


                    <!-- calendar modal -->
                    <div id="modal-view-event" class="modal modal-top fade calendar-modal">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-tile"><span class="event-title"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Data : </label>
                                <label class="event-date col col-form-label"></label>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Koha : </label>
                                <label class="event-time col col-form-label"></label>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Info : </label>
                                <label class="event-description col col-form-label"></label>
                            </div>
                          </hr/>
                          </div>
                          <div class="modal-footer">
                            <a class="more_information"><button type="button" class="btn btn-outline-primary loading_click" >Me teper informacione</button></a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Mbyll</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="modal-view-event-add" class="modal  fade " tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                     <div class="modal-dialog modal-dialog-scrollable" role="document">
                      <div class="modal-content">

                          <div class="modal-header">
                            <h5 class="modal-title">Bëj nje rezervim</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>

                          <div class="modal-body">
                            <form action="/create/reservation" method="post" id="create" class="needs-validation" >
                              <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
                            <div class="form-group">
                              <label>Emri <span class="required">*</span></label>
                              <input type="text" class="form-control" name="name" required>
                            </div>
                            <div class="form-group">
                              <label>Mbiemri <span class="required">*</span></label>
                              <input type="text" class="form-control" name="surname" required>
                            </div>
                            <div class="form-group">
                              <label>Numri i amzes</label>
                              <input type="text" class="form-control" name="amza" >
                              <div class="invalid-feedback">
                                  Old password must be at least 6 characters.
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Data  <span class="required">*</span></label>
                              <input type='text' class="datetimepicker form-control" name="date" required >
                            </div>
                            <div class="form-group">

                              <div class="row">
                                 <div class="col">
                                     <label>Prej <span class="required">*</span></label>
                                     <input type="time" class="form-control" name="startTime"  id="startTime"  required />
                                   </div>
                                   <div class="col">
                                     <label>Deri <span class="required">*</span></label>
                                     <input type="time" class="form-control" name="endTime"  id="endTime"  required />
                                   </div>
                               </div>
                            </div>
                            <div class="form-group">
                              <label>Numri i telefonit</label>
                              <input type="tel" class="form-control" name="phoneNumber">
                            </div>
                            <div class="form-group">
                              <label>Adresa</label>
                              <input type="text" class="form-control" name="address">
                            </div>
                            <div class="form-group">
                              <label>Përshkrimi i rezervimit</label>
                              <textarea class="form-control" name="description"></textarea>
                            </div>
                              </form>
                        </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Mbyll</button>
                            <button type="submit"  form="create" class="btn btn-primary createPatient" >Ruaj</button>
                        </div>
                      </div>
                    </div>
                    </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script type="text/javascript" src="js/validation.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js"> </script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"> </script>


  <script type="text/javascript" src="js/calendar.js"></script>
