
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home"> <p class="company"><img src="../../images/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Company</p> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span data-feather="menu"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav menus ">
          <li class="nav-item">
                        <a class="nav-link" href="/home">
                            <span data-feather="home"></span>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mysnippet">
                            <span data-feather="file"></span>
                            My Questions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create">
                            <span data-feather="edit"></span>
                            Ask a Question
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="modal" data-target="#exampleModalCenterTitle">
                            <span data-feather="users"></span>
                            Contact us
                        </a>
                    </li>
                    <li class="nav-item">
                         <button type="button" id="li" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i data-feather="user"></i>
                                </button>        
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdownlinks"><button class="dropdown-item" type="button">My profile</button></a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/logout" class="dropdownlinks"><button class="dropdown-item" type="button">Sign out</button></a>
                                </div>
                    </li>
          </ul>
          
    </div>
    <div class="buttonnone">
        <div class="btn-group profile_button">
            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="user"></i>
            </button>        
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdownlinks"><button class="dropdown-item" type="button">My profile</button></a>
                <div class="dropdown-divider"></div>
                <a href="/logout" class="dropdownlinks"><button class="dropdown-item" type="button">Sign out</button></a>
            </div>
        </div> 
    </div>                       
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky"  >
                <ul class="nav flex-column " >
                    <li class="nav-item">
                        <a class="nav-link" href="/home">
                            <span data-feather="home"></span>
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mysnippet">
                            <span data-feather="file"></span>
                            My Questions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create">
                            <span data-feather="edit"></span>
                            Ask a Question
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="modal" data-target="#exampleModalCenterTitle">
                            <span data-feather="users"></span>
                            Contact us
                        </a>
                    </li>
                </ul>
                <div id="hidden_loading">
                    <div class="sk-fading-circle">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>   
                </div>  
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {{>flash}}

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Profile</h1>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card text-center text-white bg-primary mb-3" >
                            <div class="card-body">
                                <h2 class="card-title username">{{username}}<h2>
                            </div>
                            <button type="button" class="btn btn-secondary card-link" data-toggle="modal" data-target="#exampleModalCenter">
                                <i data-feather="edit-2"></i>Edit your profile
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-body">
                            <h2>{{firstname}}  {{surname}}</h2>
                            <p class="card-text">{{email}}</p>
                            <a href="#"data-toggle="modal" data-target="#ChangePasswordModal" class="card-link">Change your password</a>
                        </div>
                    </div>
                </div> 
			</div>
                 <div class="modal fade" id="exampleModalCenterTitle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Contact us</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      
                         <form action="/contact"  id="contact" method="post">
                            <div class="modal-body">
                                <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
                                <div class="form-group ">
                                    <label for="recipient-name" class="col-form-label">Username:</label>
                                    <input type="text" readonly class="form-control-plaintext"  name="username" value="{{username}}" >
                                    <label for="message-text" class="col-form-label">Message:</label>
                                    <textarea class="form-control" id="message-text" required></textarea>
                                </div>  		     
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" value="submit" form="contact" class="btn btn-primary ">Send</button>
                            </div>
                        </form>  
                    </div>
                  </div>
            </div>        
                    
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Change your profile</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/home/profile/{{id}}"  id="update" method="post">
                            <div class="modal-body">
                                <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" name="username" value="{{username}}" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Firstname</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputFirstName" name="name" value="{{firstname}}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Lastname</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputLastName" name="surname" value="{{surname}}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label" >Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputEmail" name="email" value="{{email}}" required>
                                    </div>
                                </div>		     
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" value="submit" form="update" class="btn btn-primary ">Save changes</button>
                            </div>
                        </form>   
                    </div>
                </div>
            </div>
                    
            <div class="modal fade" id="ChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Change your password</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/home/profile/password/{{id}}"  id="change" method="post" class="needs-validation">
                            <div class="modal-body">
                                <input type="hidden" name="_csrf" value="{{ csrftoken }}" />
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Old password</label>
                                    <input type="password" class="form-control" name="oldpassword"  aria-describedby="emailHelp" placeholder="Enter old password" required>
                                    <div class="invalid-feedback">
                                        Old password must be at least 6 characters.
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">New password</label>
                                    <input type="password" class="form-control" name="newpassword" placeholder="New password" required>
                                     <div class="invalid-feedback">
                                        New password must be at least 6 characters.
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Rewrite new password</label>
                                    <input type="password" class="form-control" name="repassword"  placeholder="re-password" required>
                                     <div class="invalid-feedback repassword_feedback">
                                         Re-password must be at least 6 characters.
                                    </div>
                                    <div class="valid-feedback ">
                                        Looks good!
                                    </div>
                                </div>	
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" value="submit" form="change" class="btn btn-primary passwordButton" disabled>Change</button>
                            </div>
                        </form>   
                    </div>
                </div>
            </div>        
        </main>
    </div>
</div>
<script type="text/javascript" src="../../js/validation.js"></script>		  
        