<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"> <p class="company"><img src="../../images/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Company</p> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span data-feather="menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
            <li class="nav-item">
                <form class="form-inline mt-2 mt-md-0" action="/search"  method="get">
                    <input type="hidden"  name="_csrf" value="{{ csrftoken }}" />   
                    <input type="text" size="30" name="search" class="form-control mr-sm-2" type="search" placeholder="Search by title or category" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
                <li class="nav-item text-nowrap menus">
                    <a id="li" href="/login"><button type="button" class="btn btn-outline-success ">Log in</button></a>
                    <a id="li" href="/register"><button type="button" class=" btn btn-outline-primary ">Get started</button></a>      
                </li>
        </ul>
        </div>
        <div class="buttonnone">

            <ul class="navbar-nav px-3 buttonnone">
                <li class="nav-item text-nowrap">
                    <a id ="l" href="/login"><button type="button" class="btn btn-outline-success ">Log in</button></a>
                    <a id="l" href="/register"><button type="button" class=" btn btn-outline-primary ">Get started</button></a>      
                </li>
            </ul>
    </div>
</nav>

<div class="container-fluid">
	<div class="row">
		  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
            </div>
            </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
			{{>flash}}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h4>{{title}}</h4>  
            </div>
               <div class="row ">
                <div class="col col-1">
                    <h6 class="answer"></h6>
    			</div>
                <div class="col col-lg-9 questionCode">
                    <div class="alert alert-light" role="alert">
                        {{{content}}}
                    </div>
                    <div class="alert alert-light catey" role="alert">
                        <ul class="list-inline">
                            {{#each tags}}
                                {{#if this}}
                                    <li>
                                        <button type="button" class="btn btn-outline-dark btn-sm">{{this}}</button>
                                    </li>
                                {{/if}}
                            {{/each}}
                            <li class="time_right">
                                    {{data}}
                            </li>
                        </ul>
					</div>
                </div>
                <div class="col col-2">
                    <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Asked by : {{username}} ">
                        <span data-feather="user"></span>
					</button>
                    <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Asked on : {{createdAt}} ">
                        <span data-feather="calendar"></span>
                    </button>
                    
                </div>
                   
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-2 mb-3 border-bottom">
            </div> 
            <h5 class="answer"></h5>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  pb-2 mb-3 border-bottom"></div> 
             {{#each todos}}
                <div class="row ">
                    <div class="col col-1">
                        {{#if comment_correct}}
                            <div class="correctAnswer">
                                <i class="material-icons correct_answer" data-toggle="tooltip" data-placement="top" title="The question owner accepted this as correct answer">
                                            done
                                </i>
                            </div>
                        {{/if}}
                    </div>
                <div class="col col-lg-9">
                    <div class="alert comments"  role="alert">
                        {{{comment_content}}}
                         <ul class="list-inline commentDate">
                                <li> {{comment_date}}</li>
                            </ul>
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2  border-bottom"></div>
                            <div class="subcomments">
                                </hr>
                                <ul class="list-group list-group-flush">
                                    {{#each subComment}}
                                        {{#is subcomment_commentId ../comment_id }} 
                                            <li class="list-group-item subcomment_view"> 
                                                {{{subcomment_content}}}-
                                                <span class="badge badge-primary">{{subcomment_username}}</span>
                                                 <span class="subcommentDate">{{subcomment_date}}</span>
                                            </li>
                                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom "></div> 

                                        {{/is}}
                                        
                                    {{/each}}                               
                                </ul>
                                
                            </div>
                </div>
         
            </div>
                <div class="col col-2">
                    <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Answerd by : {{comment_username}} ">
                        <span data-feather="user"></span>
                    </button>
                    <button type="button" class="btn btn-outline-dark" data-toggle="tooltip" data-placement="top" title="Answerd on : {{comment_createdAt}} ">
                        <span data-feather="calendar"></span>
                    </button>                
                    
                </div>    
            </div>
         <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3  border-bottom"></div> 
        {{/each}}
        </main>
        
      </div>
    
    </div>

<script type="text/javascript" src="../../js/validation.js"></script>